body{
    background-image: url("aku2.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    color: maroon;
}
p {
    color: green;
}
.blueParagraph{
    color: blue;
}
#distinctParagraph{
    color:maroon;
}

.container{
    width: 1200px;
    margin: auto;
    margin: 50px;
}

.box1{
    background-color: darkblue;
    color: white;

    border: 5px yellow solid;
}