body{
    background-image: url("aku2.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    color: red;
}
p {
    color: green;
}
.blueParagraph{
    color: blue;
}
#distinctParagraph{
    color:maroon;
}
